.carousel {
  text-align: center;
}
.carousel-count {
  background-color: #E7E7E7;
  border-radius: 50%;
  height: 50px;
  line-height: 50px;
  margin: 20px auto;
  width: 50px;
}
.carousel-btn {
  background-color: #300;
  border-radius: 15px;
  color: #FFF;
  cursor: pointer;
  font-size: 18px;
  outline: none;
  width: 40px;
}